<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">
<head>
<link rel="stylesheet" href="index.css">
</head>
<body>

<!-- resizing is from https://htmldom.dev/create-resizable-split-views/ -->
<!-- an alternate https://www.cssscript.com/tag/split-layout/ -->

<script type="text/javascript">
function iframeDidLoad() {
    alert('Done');
}

function newSite(navPageUrl) {
<!-- function newSite(){ -->
    var sites = ['http://getprismatic.com',
                 'http://gizmodo.com/',
                 'http://lifehacker.com/']

<!--    document.getElementById('main_iframe').src = sites[Math.floor(Math.random() * sites.length)]; -->
	document.getElementById('main_iframe').src = navPageUrl;
}

</script>

<h1>Sample Document</h1>

<div class="container">

    <!-- Left element -->
<!--    <div class="container__left">Left</div> -->
<!-- <div class="container__left"> -->
<nav>
	<ul>
		<li>My Space Section</li>
			<ul>
				<li><a href="#" class="page" onClick="newSite(`my%20space%20section/combined.html`)">Combined</a></li>
				<li>Images</li>
				<ul>
					<li><a href="#" class="page" onClick="newSite(`my%20space%20section/My%20crazy%20idea-context.png`)">Context Diagram</a></li>				
				</ul>
			</ul>
        <li>Item2</li>
	</ul>
</nav>
<!-- </div> -->

    <!-- The resizer -->
    <div class="resizer" id="dragMe"></div>

<!-- <input type="button" value="Change site" onClick="newSite()" /> -->
<!-- <iframe id="myIframe" src="http://getprismatic.com/" onLoad="iframeDidLoad();"></iframe>      -->

    <!-- Right element -->
<!--    <div class="container__right">Right</div> -->
<div id="frameContainer"  class="container__right">
  <iframe width="100%" height="100%" frameborder="0" name="product_iframe" id="main_iframe">Content should appear here</iframe>
</div>

</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
                // Query the element
                const resizer = document.getElementById('dragMe');
                const leftSide = resizer.previousElementSibling;
                const rightSide = resizer.nextElementSibling;

                // The current position of mouse
                let x = 0;
                let y = 0;
                let leftWidth = 0;

                // Handle the mousedown event
                // that's triggered when user drags the resizer
                const mouseDownHandler = function (e) {
                    // Get the current mouse position
                    x = e.clientX;
                    y = e.clientY;
                    leftWidth = leftSide.getBoundingClientRect().width;

                    // Attach the listeners to `document`
                    document.addEventListener('mousemove', mouseMoveHandler);
                    document.addEventListener('mouseup', mouseUpHandler);
                };

                const mouseMoveHandler = function (e) {
                    // How far the mouse has been moved
                    const dx = e.clientX - x;
                    const dy = e.clientY - y;

                    const newLeftWidth = ((leftWidth + dx) * 100) / resizer.parentNode.getBoundingClientRect().width;
                    leftSide.style.width = `${newLeftWidth}%`;

                    resizer.style.cursor = 'col-resize';
                    document.body.style.cursor = 'col-resize';

                    leftSide.style.userSelect = 'none';
                    leftSide.style.pointerEvents = 'none';

                    rightSide.style.userSelect = 'none';
                    rightSide.style.pointerEvents = 'none';
                };

                const mouseUpHandler = function () {
                    resizer.style.removeProperty('cursor');
                    document.body.style.removeProperty('cursor');

                    leftSide.style.removeProperty('user-select');
                    leftSide.style.removeProperty('pointer-events');

                    rightSide.style.removeProperty('user-select');
                    rightSide.style.removeProperty('pointer-events');

                    // Remove the handlers of `mousemove` and `mouseup`
                    document.removeEventListener('mousemove', mouseMoveHandler);
                    document.removeEventListener('mouseup', mouseUpHandler);
                };

                // Attach the handler
                resizer.addEventListener('mousedown', mouseDownHandler);
            });
</script>
  
</body>
</html>
